{% extends 'starter-page.html' %}
{% load static %}
{% block body %}



<body>
    <h1>Place your order now! </h1>
    <p>We got you covered</p>

    <form method="POST" action="/updateorders/{{ order.id }}/">
    {% csrf_token %}
        {{ form.as_p }}
        <style>

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  text-align: center;
  color: #888;
  margin-bottom: 30px;
}

form {
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],

input[type="datetime-local"],
input[type="number"],
select,
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

select {

}

textarea {
  height: 80px;
}

button[type="submit"] {

  background-color: #ae2020;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  float: right;
}

button[type="submit"]:hover {
  background-color: darkblue;
}


input[type="radio"] {
  margin-right: 10px;
}
</style>
        <div class="form-group">
            <label for="name">Full Name:</label>
            <input type="text" id="name" name="name" value="{{order.name}}" placeholder="Full Name" required>

        </div>

        <div class="form-group ">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" value="{{ order.email }}" placeholder="ex: myname@example.com" required>
        </div>

         <div class="form-group" >
            <label for="menu">Menu type:</label>
            <select  id="menu" value="{{ order.menu }}" name="menu" required >
                <option disabled>Select menu</option>
                <option value="n/a" {% if order.menu == 'N/A' %} selected {% endif %}>N/A</option>
                <option value="starters" {% if order.menu == 'Starters' %} selected {% endif %}>Starters</option>
                <option value="Breakfast " {% if order.menu == 'Breakfast' %} selected {% endif %}>Breakfast</option>
                <option value="Lunch" {% if order.menu == 'Lunch' %} selected {% endif %}>Lunch</option>
                <option value="Dinner" {% if order.menu == 'Dinner' %} selected {% endif %}>Dinner</option>
                <option value="Beverages" {% if order.menu == 'Beverages' %} selected {% endif %}>Beverages</option>
            </select>
        </div>

        <div class="form-group">
            <label for="guests">Number of Guests:</label>
            <input type="number" id="guests" value="{{ order.guests }}" name="guests" placeholder="e.g., 2" required>
        </div>

         <div class="form-group" >
            <label for="conference">Need a conference room</label>
            <select  id="conference" value="{{ order.conference }}" name="conference" required >
                <option disabled>Select</option>
                <option value="yes" {% if order.conference == 'Yes' %} selected {% endif %}>Yes</option>
                <option value="no " {% if order.conference == 'No' %} selected {% endif %}>No</option>

            </select>
        </div>

        <div class="form-group">
            <label for="arrival-date" id="datetime">Arrival Date & Time:</label>
            <input type="datetime-local" value="{{order.arrival }}" id="arrival-datetime" name="arrival" required >

        </div>


       <div style="display: flex; justify-content: space-around;">
           <button type="submit">Submit</button>
       </div>
    </form>
{% endblock %}
