{% extends 'starter-page.html' %}
{% block body %}
</div>
   <h1 class="text-center p-4" style="font-size: 60px">Lexur, Your destiny!</h1>
    <p class="text-center p-4" style="font-size: 40px">We'll reach  out to you shortly</p>

    <table class="table table-bordered table-secondary border-black container" style="margin-top: 50px;margin-bottom: 50px; padding-top: 50px">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Menu</th>
        <th>Guests</th>
        <th>Conference room</th>
        <th>Arrival</th>
        <th>Edit/Delete details</th>
    </tr>



    {% for x in order %}
        <tr>
            <td>{{ x.name }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.menu }}</td>
            <td>{{ x.guests }}</td>
            <td>{{ x.conference }}</td>
            <td>{{ x.arrival }}</td>

            <td>
                <a href="{% url 'editorders' x.id %}" class="btn btn-secondary">EDIT</a>
                <a href="{% url 'delete_order' x.id %}" class="btn btn-secondary">DELETE</a>

            </td>
        </tr>

    {% endfor %}



    </table>




</div>

{% endblock %}
